.rehearse-viewer * {
    color: black; !important;
    font-size: 1em; !important;
}

.rehearse-viewer a {
    font-size: inherit;!important;
    color: blue; !important;
}

.rehearse-viewer strong {
    font-size: inherit;!important;
    color: red; !important;
}

.rehearse-viewer iframe {
    border: 1px dotted blue; !important;
    height: 700px; !important;
    position: relative;
    margin-left: 10px;
    width: 95%; !important;
}

.rehearse-viewer .scenarios {
    font-size: inherit;!important;
    position: relative; !important;
}

.rehearse-viewer .scenarios h6 {
    color: gray; !important;
    font-size: 22px; !important;
    font-weight: bolder;
    margin: 15px 0; !important;
}

.rehearse-viewer .scenarios .scenario {
    margin: 15px 30px; !important;
    display: inline-block; !important;
    width: auto; !important;
    padding: 10px; !important;
    font-size: 11px; !important;
}

